* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #d59541;
}

.btn {
  background-color: #2f5572;
  color: #fff;
  display: inline-block;
  padding: .75rem 1.2rem;
  text-decoration: none;
}

.btn--orange {
  background-color: #d59541;
}

.btn--large {
  padding: 1.1rem 1.9rem;
}

@media screen and (min-width: 530px) {
  .btn {
    font-size: 1.25rem;
  }
}

.large-hero {
  border-bottom: 10px solid #2f5572;
  position: relative;
}

.large-hero__image {
  display: block;
}

.large-hero__text-content {
  left: 0;
  padding-top: 60px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.large-hero__title {
  color: #2f5572;
  font-weight: 300;
  font-size: 2.6rem;
  margin: 0;
}

@media screen and (min-width: 530px) {
  .large-hero__title {
    font-size: 4.8rem;
  }
}

.large-hero__subtitle {
  color: #2f5572;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0;
}

@media screen and (min-width: 530px) {
  .large-hero__subtitle {
    font-size: 2.9rem;
  }
}

.large-hero__description {
  color: #fff;
  font-weight: 200;
  font-size: 1.5rem;
  max-width: 30rem;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 530px) {
  .large-hero__description {
    font-size: 2rem;
  }
}

.wrapper {
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
}

.wrapper--medium {
  max-width: 61rem;
}

.wrapper--no-padding-until-medium {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 800px) {
  .wrapper--no-padding-until-medium {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.wrapper--no-padding-until-large {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 1010px) {
  .wrapper--no-padding-until-large {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.wrapper .wrapper {
  padding-right: 0;
  padding-left: 0;
}

.wrapper--b-margin {
  margin-bottom: 1rem;
}

@media screen and (min-width: 530px) {
  .wrapper--b-margin {
    margin-bottom: 3.865rem;
  }
}

.page-section {
  padding: 1.2rem 0;
}

@media screen and (min-width: 800px) {
  .page-section {
    padding: 4.5rem 0;
  }
}

.page-section--no-b-padding-until-medium {
  padding-bottom: 0;
}

@media screen and (min-width: 800px) {
  .page-section--no-b-padding-until-medium {
    padding-bottom: 4.5rem;
  }
}

.page-section--no-b-padding-until-large {
  padding-bottom: 0;
}

@media screen and (min-width: 1010px) {
  .page-section--no-b-padding-until-large {
    padding-bottom: 4.5rem;
  }
}

.page-section--blue {
  background-color: #2f5572;
  color: #fff;
}

.page-section--testimonials {
  background-color: #e0e6ef;
}

@media screen and (min-width: 800px) {
  .page-section--testimonials {
    background: url(/app/assets/images/testimonials-bg.jpg) top center no-repeat;
    background-size: cover;
  }
}

.headline {
  color: #2f5572;
  font-size: 2.5rem;
  font-weight: 300;
}

@media screen and (min-width: 530px) {
  .headline {
    font-size: 2.875rem;
  }
}

.headline--centered {
  text-align: center;
}

.headline--orange {
  color: #d59541;
}

.headline--small {
  font-size: 1.875rem;
}

@media screen and (min-width: 530px) {
  .headline {
    font-size: 1.875rem;
  }
}

.headline--narrow {
  max-width: 31.25rem;
  margin-left: auto;
  margin-right: auto;
}

.headline--light {
  font-weight: 100;
}

.headline--b-margin-small {
  margin-bottom: 0.5em;
}

.headline--b-margin-large {
  margin-bottom: 1.6em;
}

.headline--no-t-margin {
  margin-top: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row--t-padding {
  padding-top: 80px;
}

.row--gutters {
  margin-right: -65px;
}

.row--gutters-large {
  margin-right: -100px;
}

.row--gutters-small {
  margin-right: -45px;
}

.row--gutters-large > div {
  padding-right: 100px;
}

.row--gutters > div {
  padding-right: 65px;
}

.row--gutters-small > div {
  padding-right: 45px;
}

@media screen and (min-width: 800px) {
  .row__medium-4 {
    float: left;
    width: 33.33%;
  }
  .row__medium-4--larger {
    width: 37%;
  }
  .row__medium-6 {
    float: left;
    width: 50%;
  }
  .row__medium-8 {
    float: left;
    width: 66.67%;
  }
  .row__medium-8--smaller {
    width: 63%;
  }
}

@media screen and (min-width: 1010px) {
  .row__large-4 {
    float: left;
    width: 33.33%;
  }
  .row__large-4--larger {
    width: 37%;
  }
  .row__large-6 {
    float: left;
    width: 50%;
  }
  .row__large-8 {
    float: left;
    width: 66.67%;
  }
  .row__large-8--smaller {
    width: 63%;
  }
}

@media screen and (min-width: 800px) {
  .row--equal-height-at-medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.row--equal-height-at-medium > div {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1010px) {
  .row--equal-height-at-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.row--equal-height-at-large > div {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generic-content-container p {
  font-size: 1.125rem;
  line-height: 1.65;
  text-align: justify;
  margin: 1.8rem 0;
}

.generic-content-container p a {
  font-weight: 700;
}

.section-title {
  font-size: 3.75rem;
  font-weight: 300;
  text-align: center;
}

.section-title strong {
  font-weight: 500;
}

.section-title__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-right: .6rem;
}

@media screen and (min-width: 530px) {
  .section-title__icon {
    position: relative;
    top: 10px;
    margin-right: 0.5rem;
    margin-left: auto;
    margin-bottom: auto;
    display: inline-block;
  }
}

.section-title--blue {
  color: #2f5572;
}

.feature-item {
  padding-left: 95px;
  position: relative;
}

.feature-item__icon {
  left: 0;
  position: absolute;
}

.feature-item__title {
  font-size: 1.875rem;
  font-weight: 300;
}

.testimonial {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 100px;
  padding: 0 18px 1px 18px;
}

@media screen and (min-width: 1010px) {
  .testimonial {
    margin-bottom: 0;
    padding: 0 1.8125rem 1px 1.8125rem;
  }
}

.testimonial--last {
  margin-bottom: 0;
}

.testimonial__photo {
  border: 6px solid rgba(255, 255, 255, 0.8);
  border-radius: 80px;
  height: 160px;
  margin: 0 auto -80px auto;
  overflow: hidden;
  position: relative;
  top: -80px;
  width: 160px;
}

.testimonial__title {
  color: #2f5572;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.testimonial__subtitle {
  color: #d59541;
  text-align: center;
  font-size: .9375rem;
  font-weight: 400;
  margin: .25rem 0 1rem 0;
}

.site-footer {
  background-color: #2f5572;
  color: white;
  padding: .5rem 0;
  text-align: center;
}

.site-footer__text {
  display: block;
  margin-bottom: 1rem;
  font-weight: 200;
}

@media screen and (min-width: 800px) {
  .site-footer__text {
    display: inline;
    margin-bottom: 0;
    margin-right: 1.4rem;
  }
}

.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

@media screen and (min-width: 800px) {
  .site-header {
    background-color: rgba(47, 85, 114, 0.3);
  }
}

.site-header__btn-container {
  float: right;
}

.site-header__logo {
  background-color: #2f5572;
  left: 50%;
  padding: 15px 30px;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 800px) {
  .site-header__logo {
    left: auto;
    padding: 25px 35px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.site-header__menu-icon {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (min-width: 800px) {
  .site-header__menu-icon {
    display: none;
  }
}

.site-header__menu-content {
  display: none;
}

@media screen and (min-width: 800px) {
  .site-header__menu-content {
    display: block;
  }
}

.primary-nav--pull-right {
  float: right;
}

.primary-nav ul {
  margin: 0;
  padding: 0;
}

.primary-nav ul::after {
  content: "";
  clear: both;
  display: table;
}

.primary-nav li {
  float: left;
  list-style: none;
  padding-right: 20px;
}

.primary-nav a {
  color: white;
  display: block;
  font-weight: 300;
  padding: 15px 0;
  text-decoration: none;
}
/*# sourceMappingURL=slyles.css.map */